

.ShowCase {
  margin: 0 0 48px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
 
  padding: 12px;
  border-radius: 4px;
  color: #7e7e7e;
}

.ShowCase li {
  margin: 0 12px;
}

.seats {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: repeat(11, 50px);
}


.seat {
  width: 25px;
  height: 25px;
  font-size: 1rem;
 border: 1px solid black;
 border-radius: 3px;
}

.notSelected{
  background-color: gray;
  color: white;
}

.selected {
  background-color: green;
  color: black;
}

small {
  padding: 5px;
}

.show_seats , .forms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap:3vh
}